@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset Hardcore para garantir Dark Mode total */
body, html, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  width: 100%;
  overflow-x: hidden;
}